* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region common */
:root {
    --accent-colour: #00D9C0;
    --font-colour: #695958;
    --container-colour: #F3D9DC;
    --background-colour: #ECEBE4;
}

body {
    background-color: var(--background-colour);
    color: var(--font-colour);
}
/* #endregion common */

/* #region header */
header {

    h1 {
        text-align: center;
        margin: 2rem 0;
    }
}

/* #endregion header */

/* #region main */
main {

    .container {   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        background-color: var(--container-colour);
        min-height: 300px;
        width: 80%;
        padding: 1rem;
        border-radius: 1.5rem;

        ul {
            margin-bottom: 2rem;

            li {
                list-style: none;
            }
        }
    }
}

/* #endregion main */