* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region common */
:root {
    --accent-colour: #00D9C0;
    --font-colour: #695958;
    --container-colour: #F3D9DC;
    --background-colour: #ECEBE4;
}

body {
    background-color: var(--background-colour);
    font-family: "Roboto Mono", monospace;
    color: var(--font-colour);
}

/* #endregion common */

/* #region header */
header {

    h1 {
        text-align: center;
        margin: 2rem 0;
    }
}

/* #endregion header */

/* #region main */
main {

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        background-color: var(--container-colour);
        min-height: 300px;
        width: 80%;
        padding: 1rem;
        border-radius: 1.5rem;

        ul {

            li {
                list-style: none;
            }
        }
    }

    .cont-button {
        margin: 2rem 0;

        .button {
            display: flex;
            justify-content: center;
            margin: auto;
            padding: 1rem;
            background-color: var(--accent-colour);
            border: none;
            border-radius: .5rem;
            font-family: "Roboto Mono", monospace;
            font-weight: 700;
            font-size: larger;
            color: var(--font-colour);
        }
    }
}

/* #endregion main */