* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region header */
header {

    h1 {
        text-align: center;
        margin: 2rem 0;
    }
}

/* #endregion header */

/* #region main */
main {

    .container {   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        background-color: aquamarine;
        min-height: 300px;
        width: 80%;
        padding: 1rem;
        border-radius: 1.5rem;

        ul {
            margin-bottom: 2rem;

            li {
                list-style: none;
            }
        }
    }
}

/* #endregion main */